<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
  <div class="container">
    <a class="navbar-brand fw-bolder" routerLink="/">
      <img src="assets/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      CoDocHelper
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
      </ul>
      <button class="btn btn-primary" routerLink="/upload">Upload</button>
    </div>
  </div>
</nav>
