<section id="intro">
  <div class="container">
    <div class="row align-content-center align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4">
          Upload your data.
        </h1>
        <p class="lead">Now you can do it all on the web.</p>
        <button class="btn btn-primary" routerLink="/upload">UPLOAD FILE</button>
      </div>
      <div class="col-lg-6 pt-5">
        <img alt="Omang" class="img-fluid" src="assets/file.svg">
      </div>
    </div>
  </div>
</section>
<section id="about">
  This web application is for upload of datasets to be used in the machine learning decision tree aglorithm.
  The web application allows only excel and csv files as thos are the ones that can be used in the model.
</section>
