/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
  padding-top: 50px;
}
.btn-primary {
  color: #fff;
  background-color: #6666FF;
  border-color: #6666FF;
}
